<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"https://www.springframework.org/dtd/spring-beans-2.0.dtd">
		
<beans>
	<bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
	<bean id="a" class="beans.A" depends-on="b"/>
	<bean id="b" class="beans.B" depends-on="c"/>
	<bean id="c" class="beans.C"/>
</beans>