<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"https://www.springframework.org/dtd/spring-beans-2.0.dtd">
		
<beans>
	<bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
	<bean id="id" class="beans.test">
		<property name="driver" value="oracle.jdbc.OracleDriver"/>
		<property name="url" value="jdbc.oracle:thin:@localhost:1521:xe"/>
		<property name="user" value="system"/>
		<property name="psw" value="system"/>
	</bean>
</beans>